.footer-shell {
  display: grid;
  gap: 115px;
  padding: 150px 90px 50px 90px;
  background: var(--background-darker);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.footer-content {
  display: flex;
  gap: 70px;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  gap: 50px;
}

.footer-attribution {
  width: min(1120px, 100%);
  margin: 0 auto;
  text-align: center;
  color: var(--text);
  margin-top: 30px;
}

.footer-contact-section {
  display: grid;
  gap: 30px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}