.recipes-section {
    padding: 35px 90px;
    display: grid;
    gap: 35px;
}
.recipes-result-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
}
.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.page-icon {
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}
.page-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.hide-element {
    display: none;
}
.breadcrumbs-link {
    color: var(--background);
    text-decoration: none;
}
.breadcrumbs-link:hover {
    color: var(--main);
}
.not-found-recipe-container {
    display: grid;
    grid-column: 1 / -1;
    gap: 20px;
    justify-content: center;
    text-align: center;
}
.not-found-recipe-container__img {
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    justify-self: center;
}
.not-found-recipe-container__list {
    text-align: left;
}
.not-found-recipe-container__item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.not-found-recipe-container__button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.text--color-red {
    color: var(--main-danger);
}