.explore-hub-section {
    padding: 35px 90px;
    display: grid;
    gap: 25px;
}
.tab-container {
    display: grid;
    gap: 25px;
    padding: 30px 50px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.type-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.type-card {
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-top: 10px solid transparent;
    transition: all 0.3s ease-in-out;
}
.type-card:hover {
    border-top: 10px solid var(--main);
    cursor: pointer;
}
.type-card--active {
    border-top: 10px solid var(--main);
    background-color: #fff8f3;
    box-shadow: 0 0 8px rgba(193, 97, 61, 0.25);
}
.type-card__title-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.type-card__icon {
    padding: 5px;
    border-radius: 50%;
}
.type-card__icon--red {
    background-color: var(--main-danger);
    color: white;
}
.type-card__icon--yellow {
    background-color: var(--main-warning);
    color: white;
}
.type-card__icon--green {
    background-color: var(--main-success);
    color: white;
}
.tab-list {
    display: flex;
    justify-content: space-evenly;
}
.tab-item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.tab-item:hover {
    color: var(--main);
}
.explore-hub-section__body {
    display: grid;
    grid-template-columns: repeat(1fr, 5);
}
.horizontal-rule {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}
.browse-section {
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.browse-container {
    display: grid;
    gap: 15px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /* height: fit-content; */
}
.browse-filter-section {
    grid-column: 1;
    height: fit-content;
}
.browse-result-section {
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
}
.inner-browse-result-section {
    grid-column: 1 / span 3;
    /* border: 1px solid red; */
    background-color: var(--border);
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 100%;
    padding: 100px 0;
}
.browse-filter-list {
    overflow-y: scroll;
    height: 350px;
}
.browse-filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.browse-filter-item:hover {
    background-color: var(--border);
    border-radius: 5px;
    cursor: pointer;
}
.browse-filter-item:active {
    background-color: #f0e2d8;
}



.mini-search-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
}
.mini-search-input {
    width: 100%;
    padding: 10px 5px 10px 35px;
}
.mini-search-logo {
    position: absolute;
    left: 10px;
}

.type-container {
    display: grid;
    gap: 5px;
}
.type-item-list {
    display: grid;
    gap: 10px;
    grid-row: span 2;
}
.type-item-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.type-item-container:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.type-item__title-text {
    grid-row: 1;
}
.load-more-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}
.load-more-button:hover {
    text-decoration: underline;
    color: var(--main);
    cursor: pointer;
}
.meal-result-section__title-container {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-recipes-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--main);
    transition: all 0.3s ease-in-out;
}
.all-recipes-link:hover {
    text-decoration: underline;
    cursor: pointer;
}